/* .App {
  text-align: center;
} */

pre {
  font-size: 7em;
}

/* body {
  margin: 20;
} */

h1 {
font-size:2em;
text-align: center;
}

h2 {
  font-size:1rem;
}

.headline {
  margin:20px;
}

.headline-indent {
  padding-left: 40px;
  padding-top: 0.75em;
}
/* text {
        font-size: 2em;
      } */

.tick line {
  stroke: #C0C0BB;
}
.tick text {
  fill: #635F5D;
}
.axis-label {
  font-size: 1em;
  fill: #635F5D;
}

.menus-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
  margin-right: 60px;
}
 .dropdown-label {
  font-size: 1em;
  fill: #635F5D;
  color: #635F5D;
  margin-left: 50px;
  margin-right: 15px;
}
.Dropdown-root {
  font-size: 1em;
  width: 300px;
  display: inline-block;
}
.Dropdown-menu {
  max-height: 400px;
  max-width: 300px;
}

.svg-iframe-container {
  display: inline-flex;
  margin-left: 20px;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.svg-graph {

}
.three-graphs {
  display: inline-flex;
  flex-wrap: wrap;
}
