
pre {
  font-size: 4em;
}

h1 {
  font-size:2em;
  text-align: center;
}
h2 {
  font-size:1rem;
}

.main-container {
  margin: 0 10px 0 10px;
}
.headline {
  padding:2em;
}
.headline-indent {
  padding-left: 40px;
  padding-top: 0.75em;
}
.degree-legend{
  width: 315px;
  /* position: relative;
  top: 80px; */
}
.svg-map {
  padding: 0 0 0 0;
  background: hsla(185, 3%, 88%, 1);
}
.maps-header {
  padding: 0 0.8em 0 0.8em;
  margin: 0.3em 0 0.3em 0 ;
}
.maps-footer {
  padding: 0 0.8em 1.6em 0.8em;
  margin: 0.3em 0 0.3em 0 ;
}
.footnote {
  text-align: right;
  font-size: .66em;
  margin: 0 0 0.3em 0;
}
.quote {
  font-size: 1.5em;
  padding: 0 0.8em 0 0.8em;
  margin-bottom: 0.5em;
}
.quote-attribution {
  /* font-size: 2rem; */
}
.charts-header-lead {
  padding: 0 0.8em 0 0.8em;
  margin-bottom: 0.5em;
}
.charts-header {
  padding: 0 0.8em 0 0.8em;
  margin-bottom: 0.5em;
}
.charts-container {
  justify-content: center;
}

.chart-title {
  font-size:1.1rem;
  fill: #635F5D;
}
.axis-label {
  font-size: 0.5em;
  fill: #635F5D;
}
text {
  font-size: 1.3em;
}
.tick text {
  fill: #635F5D;
  font-size: 14px;
}
.tick line {
  stroke: #C0C0BB;
  /* stroke: #bbbbbb; */
}

/* .menus-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
  margin-right: 60px;
}
 .dropdown-label {
  font-size: 1em;
  fill: #635F5D;
  color: #635F5D;
  margin-left: 50px;
  margin-right: 15px;
}
.Dropdown-root {
  font-size: 1em;
  width: 300px;
  display: inline-block;
}
.Dropdown-menu {
  max-height: 400px;
  max-width: 300px;
} */
