body {
  margin: 0;
  overflow: hidden;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.marks-histogram {
  fill: #137B80;
}


/* body {
  font-family: 'Poppins', sans-serif;
} */

pre {
  font-size: 7em;
}
.tick line {
  stroke: #C0C0BB;
}
.tick text {
  fill: #635F5D;
}
.axis-label {
  font-size: 1em;
  fill: #635F5D;
}

.menus-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
  margin-right: 60px;
}
 .dropdown-label {
  font-size: 1em;
  fill: #635F5D;
  color: #635F5D;
  margin-left: 50px;
  margin-right: 15px;
}
.Dropdown-root {
  font-size: 1em;
  width: 300px;
  display: inline-block;
}
.Dropdown-menu {
  max-height: 400px;
  max-width: 300px;
}
